body{
    font-family: Arial, sans-serif;
}

.sectionheader{
    color: rgb(52, 165, 42);
}

.resumebutton{
    background-color: aquamarine;
    border-radius: 5px;
    min-height: 50px;
    margin-left: 10%;
}


.myName{
    margin-left: 20%;
    font-size: 100px;
    background-image: linear-gradient(to bottom right,rgb(102, 255, 0),rgb(2, 66, 2));
    font-weight: 900;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-right: 10%;
    border: 10px black;
    white-space: pre;
}

.aboutHeader{
    margin-left: 5%;
    color: rgb(52, 165, 42);
    font-size: 300%;
}

.aboutSection{
    font-size: 200%;
    margin-left: 10%;
    margin-right: 10%;
}

.projectHeaderdiv{
    background-color: #f4f4f4;
    margin-bottom: -5%;
    padding: 2%;
    height: fit-content;
}
.projectHeader{
    margin-left: 5%;
    color: rgb(52, 165, 42);
    font-size: 300%;
}

.projectSection{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}


.card {
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card h3 {
    margin-top: 0;
}

.card p {
    color: #666;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 8px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
